*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    border: 5px solid white;
}

#logo{
    color: orange;
    font-size: 25px;
    margin-left: 10px;
}

a{
    margin-right: 170px;
    text-decoration: none;
    color: white;
}

#btn{
    background-color: orange;
    
}
main > div{
    height: 100px;
    width:100px;
    border: 2px solid purple;
    display: inline-block;
}
#Div1{
    background-color: rgba(255, 217, 0, 0.500);
}
#Div2{
    background-color: rgba(0, 0, 255, 0.500);
}
#Div3{
    background-color: rgba(255, 0, 0, 0.5);
}
#content{
    height: 300px;
}
footer{
    margin-top: 20px;
    text-align: center;
    background-color: #0f1111;
    color: white;

}
